@import url("base.css");
div.app {
    width: 100%;
    height: 100%;
}
/*头部*/
header {
	width: 100%;
	height: 0.88rem;
	padding: 0 0.24rem;
	font-size: 0.3rem;
	color: #ffffff;
	background-color: #3ee3fb;
	position: fixed;
	z-index: 10;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header > a {
	width: 1rem;
	text-align: right;
}
header .position,header>.position>i {
	font-size: 0.3rem;
	color: #ffffff;
}
header>.sousuo>i {
	line-height: 0.56rem;
	font-size: 0.3rem;
	color: rgba(0,0,0,0.3);
	font-size: 0.26rem;
}
/*店铺封面*/
.wrapper {
	width: 100%;
	height: auto;
	margin-top: 0.88rem;
	background-color: #ffffff;
	top: 0;
}
.zhanwei {
	width: 100%;
	height: 1.12rem;
	margin-top: 0.88rem;
	opacity: 0.3;
	overflow: hidden;
}
.zhanwei > img {
	width: 100%;
	height: 100%;
	opacity: 0.5;
}
.logo {
	width: 1.8rem;
	height: 1.8rem;
	margin: 0 auto;
	margin-top: -1.12rem;
	border-radius: 0.1rem;
}
.logo > img {
	width: 100%;
	height: 100%;
}
.up {
	width: 100%;
	height: auto;
	padding: 0.24rem;
	font-size: 0.2rem;
	color: rgba(0,0,0,0.5);
	text-align: center;
	line-height: 2;
	background-color: #ffffff;
	border-bottom: 0.24rem #F0F0F0 solid;
}
.up>h2 {
	color: rgba(0,0,0,0.9);
}
.up>p:nth-child(2) {
	width: 60%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	}
.up>p:nth-child(3) {
	color: rgba(0,0,0,0.9);
}
.up>p:nth-child(3)>span:nth-child(1) {
	background-color: #F59D9D;
	border-radius: 0.04rem;
	margin: 0 0.1rem;
	padding: 0 0.1rem;
	color: #FFFFFF;
}
.notice {
	padding: 0.24rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
/*商家分类选项*/
.recommend-fl {
	width: 70%;
	height: 0.72rem;
	padding: 0.24rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.24rem;
	background-color: #ffffff;
}
.recommend-fl>li>a {
	color: #000000;
	opacity: 0.5;
}
.recommend-fl>.hot>a {
	font-weight: 700;
	 color: #030303;
	 opacity: 0.8;
}
/*商品窗口*/
.shop-view {
    width: 100%;
    height: 6.1rem;
    position: relative;
}
/*商品列表*/
.recommend-shop {
    position: absolute;
    top: 0;
    left: 0;
	width: 100%;
	height: 100%;
	padding: 0.24rem 0.24rem 0 0.24rem;
	border-top: 0.02rem #F0F0F0 solid;
	display: flex;
}
.recommend-shop > div:first-child {
	width: 2rem;
	height: 100%;
	overflow-x: auto;
}
.recommend-shop > div:last-child {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	padding-left: 0.24rem;
}
.list {
	width: 100%;
}
.list>li {
	font-size: 0.22rem;
	color: #000000;
	background-color: #3ee3fd;
	opacity: 0.5;
	width: 100%;
	height: 0.8rem;
	line-height: 0.8rem;
	text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 0.1rem;
}
.list>.hot {
	color: #FFFFFF;
	background-color: #3ee3fd;
	opacity: 1;
}
.recommend-shop-ul,
.recommend-shop-ul > li {
	width: 100%;
}
.recommend-shop-ul > li > h2 {
	width: 100%;
	height: 0.4rem;
	line-height: 0.4rem;
	font-size: 0.2rem;
	border-bottom: 0.02rem #3ee3fb solid;
	opacity: 0.8;
}
.recommend-shop-ul > li > ul {
	width: 100%;
}
.recommend-shop-ul > li > ul >li {
	width: 100%;
	height: 1.64rem;
	padding-top: 0.1rem;
	background-color: #FFFFFF;
	font-size: 0.22rem;
}
.recommend-shop-ul > li > ul >li>a {
	 display: flex;
	 height: 1.4rem;
	border-bottom: 0.02rem #F0F0F0 solid;
}
.recommend-shop-ul > li > ul >li i {
	color: #3EE3FB;
}
.left-img {
	width: 1.8rem;
	height: 100%;
	padding-bottom: 0.1rem;
	border-radius: 0.1rem;
}
.left-img > img {
	width: 100%;
	height: 100%;
}
.right-text {
	width: 100%;
	height: 100%;
	margin-left: 0.24rem;
	color: #000000;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.right-text>h3 {
	width: 3rem;
	opacity: 0.9;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
    font-size: 0.24rem;
}
.right-text>.iconxx i {
	color: #FFD000;
}
.right-text>.iconxx>span {
	opacity: 0.7;
    font-size: 0.18rem;
}
.v {
	margin-left: 0.24rem;
}
 .delivery {
 	display: flex;
 	justify-content: space-between;
 }
 .delivery-left {
 	display: inline-block;
	opacity: 0.7;
	font-size: 0.24rem;
	color: red;
}
.delivery-left > del {
	margin-left: 0.1rem;
	opacity: 0.7;
	font-size: 0.18rem;
	color: #000;
}
.delivery > span > span {
    display: inline-block;
    width: 0.3rem;
    text-align: center;
	font-size: 0.2rem;
	opacity: 0.8;
}
	/*商家信息*/
.shop-msg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6.1rem;
    border-top: 0.02rem #F0F0F0 solid;
    background-color: #fff;
    display: none;
}
.shop-msg > .view {
    width: 100%;
    height: 2.66rem;
    border-bottom: 0.24rem solid #f0f0f0;
    border-top: 0.24rem solid #f0f0f0;
    padding: 0.24rem;
}
.shop-msg h3 {
    width: 100%;
    height: 0.4rem;
    line-height: 0.4rem;
    font-size: 0.24rem;
    margin-bottom: 0.1rem;
}
.shop-msg > .view > ul {
    width: 100%;
    height: 1.2rem;
    display: flex;
}
.shop-msg > .view > ul > li {
    width: 1.2rem;
    height: 100%;
    margin-right: 0.2rem;
}
.shop-msg > .view > ul > li > img {
    width: 100%;
    height: 100%;
}
.shop-msg > .message {
    width: 100%;
    padding: 0.24rem 0.24rem 0 0.24rem;
}
.shop-msg > .message > p {
    width: 100%;
    font-size: 0.2rem;
    padding-bottom: 0.24rem;
    border-bottom: 0.02rem solid #f0f0f0;
}
.shop-msg > ul {
    width: 100%;
    padding: 0 0.24rem;
}
.shop-msg > ul > li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 0.5rem;
    line-height: 0.5rem;
    border-bottom: 0.02rem solid #f0f0f0;
    font-size: 0.2rem;
}
.shop-msg > ul > li > span:first-child {
    font-weight: 700;
}
/*购物车商品信息*/
.shopping {
	position: fixed;
    left: 0;
    top: calc(100% - 0.98rem - 0.36rem - 2.9rem);
	width: 100%;
    background-color: #fff;
    /*transform: translate3d(0,0,0);*/
    /*transition: .5s ease;*/
}
/*优惠提示*/
.shopping > .discount {
	width: 100%;
	height: 0.36rem;
	line-height: 0.36rem;
	text-align: center;
	font-size: 0.2rem;
	color: rgba(0,0,0,0.8);
	background-color: #3EE3FB;
}
.shopping > .header {
	padding: 0 0.24rem;
	font-size: 0.26rem;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 0.5rem;
	line-height: 0.5rem;
	background-color: #ccc;
	color: #333;
}
.shopping > div > i {
	font-size: 0.22rem;
}
.shopping > div.iscroll {
    max-height: 2.4rem;
    overflow-y: auto;
    /*overflow: hidden;*/
}
.shopping > div > ul {
	width: 100%;
    height: auto;
	padding: 0 0.24rem;
	background-color: #fff;
}
.shopping > div > ul > li {
	width: 100%;
	height: 0.8rem;
	line-height: 0.8rem;
	border-bottom: 0.02rem solid rgba(0,0,0,0.1);
	display: flex;
	justify-content: space-between;
	font-size: 0.26rem;
	color: #111;
}
.shopping > div > ul > li > .left {
    width: 3rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.shopping > div > ul > li > .right {
	width: 3.5rem;
	display: flex;
	justify-content: space-between;
}
.shopping > div > ul > li > .right > .money {
    width: 1.5rem;
	color: red;
    text-align: right;
}
.shopping > div > ul > li > .right i {
	color: #3ee3fb;
}
.shopping > div > ul > li > .right > span {
    display: inline-block;
    width: 1.2rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
/*结算栏*/
/*购物车*/
.pay > .cart {
	width: 0.9rem;
	height: 0.9rem;
	border-radius: 50%;
	border: 0.08rem solid #444;
	background-color: #808080;
	position: fixed;
	left: 0.24rem;
	bottom: 0.32rem;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
}
.pay.hot > .cart{
	background-color: #fff;
}
.pay > .cart > i {
	font-size: 0.44rem;
	color: rgba(0,0,0,0.8);
}
.pay.hot > .cart > i {
	color: #3ee3fb;
}
.pay > .cart > span {
	display: none;
}
.pay.hot > .cart > span {
	position: absolute;
	top: -0.08rem;
	right: -0.06rem;
	background: linear-gradient(-90deg,#ff7416,#ff3c15 98%);;
	display: inline-block;
	width: 0.3rem;
	height: 0.3rem;
	border-radius: 50%;
	font-size: 0.18rem;
	line-height: 0.3rem;
	text-align: center;
	color: #fff;
}
/*支付栏*/
.pay {
	width: 100%;
	height: 0.98rem;
	font-size: 0.26rem;
	background-color: #ffffff;
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	bottom: 0;
}
.pay>.left,.pay>.right  {
	height: 100%;
	padding: 0 0.24rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.pay>.left {
	width: 5rem;
	background-color: rgba(61,61,63,.9);
	color: rgba(255,255,255,0.4);
}
.pay.hot>.left {
	color: #3ee3fb;
}
.pay.hot>.left>p>.discount {
    color: red;
    font-size: 0.3rem;
}
.pay.hot>.left>p>.price {
    color: rgba(255,255,255,0.4);
    font-size: 0.2rem;
}
.pay>.left>span:nth-child(2) {
    color: rgba(255,255,255,0.4);
	font-size: 0.22rem;
}
.pay>.right {
	width: 2.5rem;
	background-color: rgba(0,0,0,0.4);
	color: rgba(0,0,0,0.4);
}
.pay>.right.hot {
	background-color: #38ca73;
	color: #fff;
}